.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 70%;
    width: 100%;
    position: absolute;
}

.botones {
    position: absolute;
    top: 49%;
    right: 0;
    background-color: transparent;
    z-index: 1030;
}

@font-face {
    font-family: bahamas;
    src: url(/resources/03467_Bahamas.ttf);
}

body,h1,h2,h3,p,a,label,h5{
    font-family: bahamas;
}

.fuente{
    font-family: bahamas;
}
